html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  background: linear-gradient(rgba(18, 60, 105, .3), rgba(18, 60, 105, .3)), url('/headertexture.jpg');
  background-size: cover;
  color: #f8f4f1;
  display: flex;
  width: 100%
}

.non-partials-container{
  max-width: 600px;
  margin: 0 auto;
}
.rec{
  display: flex;
}

.rec-img img{
  width: 200px;
}